@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

body {
    font-variant: small-caps;
    font-family: 'Open Sans', sans-serif;
}

#content {
    height: 100%;
}

h1, h3 {
    margin-top: 0;
}

#settings {
    color: #474141;
}

#icon {
    text-align: center;
    position: fixed;
    bottom: 10px;
    z-index: -10;
}

#icon img {
    opacity: 0.8;
    width: 215px;
}