<h1>Set your preferences</h1>

<div class="form-group">
    <label for="language">Translate to:</label>
    <select id="language" ng-model="lang">
        <option value="Chinese">Chinese</option>
        <option value="Hindi">Hindi</option>
        <option value="Spanish">Spanish</option>
    </select>
</div>

<div class="form-group">
    <input class="btn btn-default" type="button" value="Save" ng-click="start()"/>
    <input class="btn btn-default" type="button" value="Translate" ng-click="start()"/>
</div>