<h1>Translate to {{language}} <a id="settings" href="#/settings"><i class="fa fa-cog"></i></a>
</h1>

<div class="form-group">
    <input class="btn btn-default" type="button" value="Start recording" ng-click="begin()"/>
</div>

<div class="form-group">
    <input id="translate" class="btn btn-default" type="button" value="Stop and translate" style="display:none;"
       ng-click="translate()"/>
</div>

<audio id="translatedAudio" style="display:none" controls preload="none">
    <source id="audio" rel="noreferrer" src=""/>
</audio>